@import "../atoms/ThemeControl.scss";
@import "../atoms/Languages.scss";

.portfoliods-header {
  display: flex;
  justify-content: center;

  svg {
    cursor: pointer;
    width: 40px;
    margin: map-get($spacing, "xxs") map-get($spacing, "xxxs");
  }
}
