@import "../foundation/all";
@import "../atoms/Link.scss";
@import "./ScrollButton.scss";

.portfoliods-pagelinks {
  @include phone() {
    position: absolute;
    right: 30px;
    bottom: 10px;
  }
  @include tablet() {
    position: unset;
    right: unset;
    bottom: unset;
  }
}
