@import "../foundation/all";
@import "../atoms/XpCard.scss";

.portfoliods-xpcardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;

  @include phone() {
    max-width: 100%;
    margin-bottom: map-get($spacing, "xl");
  }
  @include tablet() {
    max-width: calc(100vw / 2);
  }
  @include desktop() {
    max-width: calc(100vw / 4);
  }
}
