@import "../foundation/all";
@import "../atoms/XpCard.scss";

.portfoliods-xpcardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 5px;
  padding: map-get($spacing, "xxs");

  @include phone() {
    overflow: auto;
    width: 100%;
    max-height: 65px;
    flex-direction: column;
    margin-bottom: map-get($spacing, "xl");
  }
  @include tablet() {
    max-height: unset;
    flex-direction: unset;
    overflow: unset;
    max-width: calc(100vw / 1.2);
  }
  @include desktop() {
    max-width: calc(100vw / 4);
  }
}
