@import "../foundation/all";
@import "../atoms/XpContent.scss";
@import "../atoms/XpLevel.scss";

.portfoliods-xpcontentcontainer {
  overflow: auto;
  max-height: calc(100vh / 2);
  margin: 0 map-get($spacing, "sm");
}
