@import "../foundation/all";
@import "../atoms/XpContent.scss";
@import "../atoms/XpLevel.scss";

.portfoliods-xpcontentcontainer {
  overflow: auto;
  max-height: calc(100vh / 1.5);
  @include phone() {
    margin: 0 map-get($spacing, "sm");
    .portfoliods-xpcontent {
      padding-bottom: map-get($spacing, "xxl");
    }
  }
  @include tablet() {
    margin: 0;
    .portfoliods-xpcontent {
      padding: 0;
    }
  }
}
