@import "../foundation/all";

.portfoliods-arrow {
  line-height: 0;
  svg {
    fill: transparent;
  }

  #border {
    @include theme-aware("stroke", "light");
  }

  #arrow {
    @include theme-aware("fill", "light");
  }

  &--top {
    svg {
      transform: rotate(180deg);
    }
  }
}
