@import "../foundation/all";

.portfoliods-flexrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-center {
    align-items: center;
  }

  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }

  &--fullscreen {
    height: 100vh;
  }
}
