@import "../foundation/all";

.portfoliods-link {
  @include theme-aware("color", "light");
  display: inline-block;
  font-weight: $fw-semibold;
  text-decoration: none;

  @mixin border {
    @include theme-aware("border-color", "brand-blue");
    border-bottom: solid 3px black;
    content: "";
    display: block;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &::after {
    @include border();
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &--active {
    @include theme-aware("border-color", "brand-blue");

    &::after {
      @include border();
      transform: scaleX(1);
    }

    &:hover::after {
      transform: none;
    }
  }
}
