@import "../foundation/all";

.portfoliods-link {
  font-weight: $fw-semibold;
  display: inline-block;
  text-decoration: none;
  @include theme-aware("color", "light");

  @mixin border {
    display: block;
    content: "";
    border-bottom: solid 3px black;
    @include theme-aware("border-color", "brand-blue");
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &::after {
    @include border();
  }
  &:hover:after {
    transform: scaleX(1);
  }

  &--active {
    @include theme-aware("border-color", "brand-blue");
    &::after {
      @include border();
      transform: scaleX(1);
    }
    &:hover::after {
      transform: none;
    }
  }
}
