@import "../foundation/all";

.portfoliods-pagetitle {
  font-weight: $fw-bold;
  @include theme-aware("color", "light");
  border-bottom: solid 3px black;
  @include theme-aware("border-color", "brand-blue");
  display: inline-block;

  @include font-size();
}
