@import "../foundation/all";

.portfoliods-subtitle {
  font-weight: $fw-light;
  @include theme-aware("color", "light");
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 0;

  @include font-size();
}
