@import "../foundation/all";

.portfoliods-themecontrol {
  position: relative;
  .portfoliods-themecontrol-line {
    top: 10px;
    position: absolute;
    width: 1px;
    height: 31px;
    @include theme-aware("background-color", "light");
  }
}
