@import "../foundation/all";

.portfoliods-title {
  font-weight: $fw-bold;
  @include theme-aware("color", "light");

  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 0;

  @include font-size();
}
