@import "../foundation/all";

.portfoliods-xpcard {
  border-radius: 15px;
  @include theme-aware("background-color", "gray-light");
  box-shadow: map-get($shadows, "base");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 250ms ease-in-out;
  box-shadow: map-get($shadows, "base");

  &:hover {
    @include theme-aware("background-color", "light-soft");
    transform: scale(0.98);
  }

  img {
    padding: map-get($spacing, "xxxs");
  }

  @include phone() {
    width: 62px;
    height: 62px;
    img {
      width: 50px;
    }
  }

  @include tablet() {
    height: 80px;
    width: 80px;
    img {
      width: 70px;
      height: 70px;
    }
  }

  @include desktop() {
    height: 100px;
    width: 100px;
    img {
      width: 80px;
      height: 80px;
    }
  }
}
