@import "../foundation/all";

.portfoliods-xpcard {
  height: 69px;
  width: 69px;
  border-radius: 15px;
  @include theme-aware("background-color", "gray-light");
  box-shadow: map-get($shadows, "1");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 250ms ease-in-out;

  &:hover {
    @include theme-aware("background-color", "light-soft");
    transform: scale(1);
  }

  img {
    width: 60px;
    padding: map-get($spacing, "xxxs");
  }

  @include desktop() {
    height: 100px;
    width: 100px;
    img {
      width: 80px;
      height: 80px;
    }
  }
}
