@import "../foundation/all";

.portfoliods-xpcontent {
  white-space: break-spaces;
  font-weight: $fw-normal;

  @include theme-aware("color", "light");
  width: 100%;
  @include font-size();

  @include phone() {
  }
}
